/* ---------------- Theme Defaults ---------------- */


:root {
/*    --primary: #d2232a;
*/    --primary: #9e1f63;
    --secondary: #24338A;
/*    --primary-75: rgba(210, 35, 42, 0.75);
    --primary-50: rgba(210, 35, 42, 0.5);
    --primary-25: rgba(210, 35, 42, 0.25);*/
    --primary-75: rgba(158, 31, 99, 0.75);
    --primary-50: rgba(158, 31, 99, 0.5);
    --primary-25: rgba(158, 31, 99, 0.25);
    --black: #000;
    --dk-grey: #333333;
    --grey: #6f6f6f;
    --lt-grey: #E5E4EC;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--white);
    color: var(--dk-grey);
    font-family: 'IBM Plex Sans', arial, sans-serif;
    font-size: 20px;
}

main {
    width: 95%;
    margin: auto;
}




/* ---------------- General Tag Styling ---------------- */


a {
    text-decoration: none;
    font-size: 1rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.75rem;
}

p {
    font-size: 0.75rem;
}

h1, p {
    color: var(--dk-grey);
}

span {
    font-weight: normal;
}

i {
    font-weight: 900;
    color: var(--white);
}

#item__header i {
    position: relative;
    top: 2px;
    color: var(--primary);
}

#item__header i:hover {
    color: var(--primary-50);
    transition: color 300ms ease-in-out;
}




/* ---------------- Universal Text & Alignment Styling ---------------- */


.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

#item__header .fa-phone,
#item__header .fa-envelope {
    padding-right: 0.5rem;
}

.year {
    font-weight: 700;
    font-style: italic;
    margin: -0.5rem 0 0 0;
}

.asterisk {
    position: relative;
    top: 2px;
    margin: 0 0.25rem;
}

.button {
    display: inline-block;
    position:relative;
    background: var(--primary); 
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 2rem;
    align-self: center;
    font-weight: bold;
    white-space: nowrap;
    transition: transform ease-in-out 300ms;
    cursor:pointer;
    z-index:0;
    overflow: hidden;
}

/*.button:hover {
    background: var(--black); 
    transition-duration: 250ms;
    border: 2px solid var(--black);
}*/

.button::before {
    content: "";
    position: absolute;
    z-index:-1;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 300ms ease-out;
}


.button:hover::before {
    transform: scaleX(1);
}

/* ---------------- Section Title Styling ---------------- */


.section-title {
    position: relative;
    background: var(--white);
    color: var(--primary);
    padding: 0.5rem 1rem;
    grid-column: 1 / -1;
    grid-row: 1;
    width: auto;
    justify-self: center;
    z-index: 1;
    border: 4.5px solid var(--white);
}

.section-line, .section-line-cta {
    height: 0;
    margin: auto 0;
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
}

.section-line {
    border-top: 6px dashed var(--primary);
}

.section-line-cta {
    border-top: 3px solid var(--primary);
    position: absolute;
    margin: auto 0;
    top: 50%;
}

.section-title h4 {
    font-family: 'IBM Plex Serif', georgia, serif;
    font-style: italic;
}

.section-subtitle {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 2;
    width: auto;
    justify-self: center;
}

.section-subtitle p {
    font-size: 12px;
}

.item-title {
    color: black;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
}




/* ---------------- Layout - Grid Styling ---------------- */


.grid {
    display: grid;
    grid-gap: 10px;
    color: #444;
    margin: 0 0 0.5rem 0;
}


/* ------ Section ------ */


.grid__intro, .grid__outro {
    grid-template-rows: auto;
    grid-auto-flow: row;
}

.grid__intro {
    grid-template-columns: repeat(6, 1fr);
}

.grid__outro {
    grid-template-columns: repeat(8, 1fr);
    position: relative;
    margin: 2rem 0 3rem;
}

.grid__skills {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.grid__things {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.grid__education {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 10px 0;
    grid-auto-flow: row;
}

.grid__experience {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
}

.grid__intro,
.grid__skills,
.grid__things,
.grid__education {
    margin: 0 0 2rem 0;
}


/* ------ Children ------ */

section div ul li {
    display: inline;
    list-style-type: none;
    line-height: 1.5rem;
    padding: 0;
    margin: 0 0 2rem 0;
}

section div ul li * {
    text-decoration: none;
    font-size: 1rem; 
}

section div ul li a {
    text-decoration: none;
    font-size: 0.75rem; 
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0.25rem;
    text-decoration: none;
}

section div ul li a:hover {
    color: var(--grey);
    transition-duration: 250ms;
}

.grid__item {
    grid-column: 1 / -1;
    display: flex;
    background: var(--white);
    color: #fff;
    padding: 0.75rem;
}

.item__skills,
.item__things,
.item__experience {
    padding: 1rem;
    border-radius: 1rem;
}

.item__skills {
    justify-content: space-between;
    align-items: center;
    grid-gap: 0;
    padding: 0 1rem;
}

.item__things {
    align-items: center;
}

.item__experience {
    display: flex;
    justify-self: center;
    position: relative;
    flex-direction: column;
    width: 90vw;
}

.item__education {
    grid-column: 1 / -1;
    flex-direction: column;
    border: none;
    text-align: center;
    background: var(--white);
    color: #fff;
    padding: 1rem 2rem;
}


/* ------ List Item Content ------ */

.list__item {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.list__item p {
    flex: 45%;
    font-size: 16px;
    line-height: 2.5;
}

.list__item div {
    flex: 55%;
    position: relative;
    align-self: center;
    justify-self: center;
/*    border-radius: 1rem;
    overflow: hidden;*/
}

.list__item span {
    position: relative;
    align-self: center;
    justify-self: center;
}


/* ---------------- Content Styling ---------------- */


/* ------ Intro Content ------ */

.header__contact,
.header__social {
    display: inline;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header__contact {
    padding: 0 0 0.8rem 0;
    border-bottom: 4px dotted var(--primary);
}

.header__social {
    padding: 1rem 0 0 0;
}

#item__header, #item__cta {
    flex-direction: column;
    justify-content: space-between;
    background: var(--white);
    border: 3px solid var(--primary);
    border-radius: 0.5rem;
}

#item__header {
    padding: 0.25rem 0.75rem;
    grid-column: 1 / -1;
    margin: 5.5rem auto 0;
    width: 100%;
}

#item__cta {
    padding: 2rem 1rem;
    grid-column: 2 / -2;
    position: relative;
    background: var(--white);
    z-index: 100;
    width: 80vw;
    justify-self: center;
}

.badge__top {
    padding: 0.75rem 0;
    border-bottom: 4px solid var(--primary);
}

.badge__top h5 {
    font-weight: 400;
}

.badge__bottom {
    padding: 0.5rem 0;
    border-top: 4px solid var(--primary);
}

.badge__bottom h6 {
    font-size: 13px;
}

.badge__top,
.badge__bottom {
    color: var(--white);
    font-weight: 100;
}

#item__badge {
    grid-column: 1 / -1;
    flex-direction: column;
    color: black;
    background: var(--primary);
    border: 4px solid var(--primary);
    border-radius: 0.75rem;
    padding: 0;
}

#item__badge * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge__name {
    background: var(--white);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.badge__font {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: calc(4vh + 5vw);
}

#item__img {
    grid-column: 1 / -1;
    grid-row: span 2;
    padding: 0;
    background: none;
    border: none;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    border-radius: 1rem;
}

#item__bio {
    grid-column: 1 / -1;
    grid-row: span 2;
    flex-direction: column;
    border: 2px solid var(--dk-grey);
    color: var(--dk-grey);
    border-radius: 0.75rem;
    padding: 1.75rem;
}

#item__bio h4 {
    padding: 1rem 0;

}

#item__bio p {
    padding: 0 0 0.5rem 0;
}


/* ------ SKills Content ------ */

.skill__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: start;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bar {
    height: 1rem;
    width: 100%;
    border: 0.5px solid var(--primary);
}

.bar-none {
    height: 1rem;
    width: 100%;
    border: 1px solid transparent;  
}

.bar-legend {
    width: 100%;
    height: 100%;
    background: var(--white);
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-between;
}

.bar-legend span{
    font-size: 0.75rem;
}

.bar-1 {
    width: 20%;
    height: 100%;
    background: var(--primary);
    transform: scale(1, 1);
    transition: all 250ms ease-in-out 100ms;
    animation: 750ms ease-in-out 250ms 1 slideInFromLeft;
    transform-origin: left;
}

.bar-2 {
    width: 40%;
    height: 100%;
    background: var(--primary);
    transform: scale(1, 1);
    transition: all 250ms ease-in-out 100ms;
    animation: 750ms ease-in-out 250ms 1 slideInFromLeft;
    transform-origin: left;
}

.bar-3 {
    width: 60%;
    height: 100%;
    background: var(--primary);
    transform: scale(1, 1);
    transition: all 250ms ease-in-out 100ms;
    animation: 750ms ease-in-out 250ms 1 slideInFromLeft;
    transform-origin: left;
}

.bar-4 {
    width: 80%;
    height: 100%;
    background: var(--primary);
    transform: scale(1, 1);
    transition: all 250ms ease-in-out 100ms;
    animation: 750ms ease-in-out 250ms 1 slideInFromLeft;
    transform-origin: left;
}

.bar-5 {
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: scale(1, 1);
    transition: all 250ms ease-in-out 100ms;
    animation: 750ms ease-in-out 250ms 1 slideInFromLeft;
    transform-origin: left;
}

.bar-1:hover,
.bar-2:hover,
.bar-3:hover,
.bar-4:hover,
.bar-5:hover {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--primary);
    transform: scale(0, 1);
    transition: all 250ms ease-in-out 100ms;
    transform-origin: left;
}




/* ------ Things Content ------ */


.things__icon {
    margin: 0 2rem 0 0;
}


.things__icon img {
    width: 6rem;
    padding: 0 0 0.5rem 0;
    transition: all 250ms ease-in-out;
}


.things__icon img:hover {
    transform: scale(1.25);
    transition: all 250ms ease-in-out;
}


/* ------ Education Content ------ */

.education__list {
    border-left: 3px solid var(--primary);
    position: relative;
    width: 12.5rem;
    padding: 1rem 0;
    margin: auto;
}

.education__list::after {
    content: '';
    width: 0px;
    height: 0px;
    background-color: var(--primary);
    border-radius: 50%;
    border: 0.5rem solid var(--primary);
    position: absolute;
    top: 40%;
    left: -4.75%;
}

.time-top {
    flex-direction: column;
    padding: 0;
}

.time-bottom {
    padding: 0;
}


/* ------ Experience Content ------ */

.experience__list {
    display: flex;
    flex-direction: column;
}

.chart-labels {
    margin: 1rem 0 0 0;
    grid-column: 1 / -1;
    justify-content: center;    
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
}

.chart-labels p {
}

.item__label {
    margin: 0 2rem;
}

.job-brief {
    margin: 1rem 0 0 0;
    line-height: 1.5 !important;
}

#label1,
#label2,
#label3,
#label4 {
    display: block;
    width: 1rem;
    height: 1rem;
    background: var(--primary);
    margin: 0 0.5rem 0 0;
}

#label1 {
    background: var(--primary);
}

#label2 {
    background: var(--primary-75);
}

#label3 {
    background: var(--primary-50);
}

#label4 {
    background: var(--primary-25);
}

.cta-text {
    margin: 0 0 1rem 0;
    color: var(--dk-grey);
    font-family: 'IBM Plex Serif', georgia, serif;
    font-style: italic;
    line-height: 1.5;
}

/* ---------------- Media Queries ---------------- */


@media all and (min-width: 450px) {
    section div ul li a {
        padding: 0.25rem 0.75rem;
    }
    .header__contact {
        padding: 0;
    }
    .header__social {
        padding: 0;
    }
    .list__item p {
        flex: 35%;
        font-size: 16px;
        line-height: 2.5;
    }
    .list__item div {
        flex: 65%;
        position: relative;
        align-self: center;
        justify-self: center;
    }
    .item__things {
        justify-content: space-evenly;
    }
    #item__cta {
        width: 75vw;
    }
}

@media all and (min-width: 600px) {
    section div ul li a {
        padding: 0.25rem 1rem;
    }
    .list__item p {
        flex: 35%;
        font-size: 16px;
        line-height: 2.5;
    }
    .list__item div {
        flex: 65%;
        position: relative;
        align-self: center;
        justify-self: center;
    }
    .badge__top {
        padding: 0.75rem 0;
    }
    .badge__font {
        font-size: calc(2vh + 5vw);
    }
    #item__badge {
        grid-column: span 4;
        grid-row: span 2;
    }
    #item__img {
        grid-column: span 2;
    }
    .item__skills {
        grid-column: 1 / -1;
        padding: 1rem;
    }
    .item__things {
        grid-column: span 2;
    }
    .things__icon img {
        width: 4rem;
    }
    .item__experience {
        grid-column: span 2;
        width: 47.5vw;
    }
    #item__cta {
        width: 70vw;
        justify-self: center;
    }
}

@media all and (min-width: 750px) {
    section div ul li a {
        padding: 0.25rem;
    }
    #item__header {
        flex-direction: row;
    }
    .header__contact {
        border-bottom: none;
        padding: 0;
    }
    .header__social {
        padding: 0;
    }
    #item__badge {
        grid-column: span 3;
        grid-row: span 1;
        order: 1;
    }
    #item__img {
        grid-column: span 3;
        grid-row: span 1;
        order: 2;
    }
    #item__bio {
        grid-column: span 3;
        grid-row: span 2;
    }
    #item__bio h4 {
        padding: 2rem 0;
    }
    #item__bio p {
        line-height: 1.5;
    }
    .things__list p {
        text-align: left;
    }
    .grid__outro {
        grid-template-columns: repeat(8, 1fr);
    }
    #item__cta {
        grid-column: 3 / -3;
        width: 70vw;
    }
}

@media all and (min-width: 900px) {
    #item__bio h4 {
        padding: 2rem 0;
    }
    #item__bio p {
        line-height: 2;
    }
    .item__things,
    .item__experience {
        grid-column: span 2;
    }
    .things__icon img {
        width: 8rem;
    }
    #item__cta {
        width: 55vw;
    }

}


@media all and (min-width: 1050px) {
    .badge__top {
        padding: 1.5rem 0;
    }
    .badge__font {
        font-size: calc(2vh + 3vw);
    }
    .badge__bottom {
        padding: 1rem 0;
    }
    #item__badge {
        grid-column: span 2;
        grid-row: span 1;
        order: 0;
    }
    #item__img {
        grid-column: span 1;
        grid-row: span 1;
        order: 0;
    }
    #item__bio {
        grid-column: span 3;
        grid-row: span 1;
        order: 0;
    }
    #item__bio h4 {
        padding: 1rem 0;
    }
    #item__bio p {
        line-height: 1.5;
    }
    .item__skills {
        grid-column: span 2;
        padding: 1rem;
    }
    .item__experience {
        width: 35vw;
    }
    .item__education {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / -1;
        flex-direction: row;
    }
    .education__list {
        border-left: none;
        margin: auto;
        width: 100%;
    }
    .education__list::after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: var(--primary);
        border-radius: 12px;
        border: 4px solid var(--primary);
        position: absolute;
        top: 56%;
        left: 47%;
    }
    .time-top {
        padding: 0 0 1rem 0;
    }
    .time-bottom {
        border-top: 3px solid var(--primary);
        padding: 1rem 0 0 0;
    }
    #item__cta {
        width: 45vw;
    }
}


@media all and (min-width: 1200px) {
    .item__things,
    .item__experience {
        grid-column: span 1;
    }
    .item__experience {
        width: 22.5vw;
    }
    .things__icon img {
        width: 4rem;
    }
    #item__cta {
        width: 40vw;
    }  
}

/* -------- CSS Animation Keyframes -------- */


@keyframes slideInFromLeft {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

